@import "tailwindcss";

@theme {
  --animate-fade-in: fade-in 0.5s ease-out;
  --animate-zoom-in: zoom-in 0.5s ease-out;
  --animate-slide-up: slide-up 0.7s ease-out;

  @keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
  @keyframes zoom-in {
    0% { transform: scale(0.9); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
  }
  @keyframes slide-up {
    0% { transform: translateY(2rem); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
  }
}

